  
/* #root {
  text-align: left;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#fff, #999);
  background: white;
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
} */

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}
.ContainerContainer{
  justify-content: center;
}

.row>* {
  margin: 5px;
}

h1 {
  color: black;

  bottom: 0;
}

h2 {
  color: black;
}

.swipe {
  position: absolute;
}

.cardContainer {
  text-align: center;
  width: 100%;
}

.card {
  margin-left: 5vw;
  position: block;
  background-color: #fff;
  width: 90vw;
  max-width: 95vw;
  height: 70vh;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); */
  border-radius: 20px;
  background-size: cover;
  background: no-repeat;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}


.card h3 {
  margin-left: 7vh;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  color: brown;
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: black;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: auto;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}
.Goolo {
  background: rgb(52,9,121);
background: linear-gradient(90deg, rgba(52,9,121,1) 13%, rgba(0,212,255,1) 82%);
}