.MuiBottomNavigation-root {
    position: fixed;
    bottom: 0;
    background-color: #f4f2f2;
    opacity: 0.8;
}

/* .logo{
    background-image: url('../../Logo.jpeg');
    background-repeat: no-repeat;
    background-size: auto;
} */