
  .flickity-button {
    position: absolute;
    background: hsla(0, 0%, 100%, 0.75);
    border: none;
    color: #333;
  }
  
  .flickity-button:hover {
    background: white;
    cursor: pointer;
  }
  
  .flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19f;
  }
  
  .flickity-button:active {
    opacity: 0.6;
  }
  
  .flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    pointer-events: none;
  }
  
  .flickity-button-icon {
    fill: #333;
  }
  
  .flickity-rtl .flickity-page-dots {
    direction: rtl;
  }
  
  .flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
  }

  @media screen and (min-width:800px){
    .recImg{
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      padding: 0.2rem;
      margin-top: 10vh;
      height: 58vh;
    }
    .flickity-slider a {
      margin-left: -50%;
      right: calc(100%-1);
    }
    .flickity-viewport .is-draggable {
      padding: 0.4rem;
    }
  }
  .recImg {
    margin-top: 10vh;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    height: 40vh;
    padding: 0.2rem;
  }
  .flickity-slider a {
    margin-left: 1rem;
  }

  .shirtsFlickity{
    margin-bottom: 2rem;
  }
